<div
  class="position-fixed top-0 start-0 w-100 h-100 bg-black bg-opacity-50 z-index-50 d-flex align-items-center justify-content-center p-4">
  <div class="bg-white dark:bg-gray-800 rounded p-5" style="max-width: 28rem; width: 100%;">
    <h1>Agregar tarea</h1>
    <form (ngSubmit)="crear()">
      <div class="form-group">
        <label for="exampleFormControlInput1">Titulo</label>
        <input type="text" class="form-control" id="titulo" [(ngModel)]="titulo" name="titulo">
      </div>

      <label for="Estado">Estado</label>
      <app-dropdown
        [options]="statusOptions"
        (onSelect)="cambiarEstado($event)"/>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripcion</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="description" name="description"></textarea>
      </div>

      <button (click)="cerrar()" type="button" class="btn btn-danger">CANCELAR</button>
    <button type="submit" class="btn btn-primary m-2">GUARDAR</button>
    </form>

    
  </div>
</div>